services:
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - db_data:/var/lib/postgresql/data
      - '.docker/pgsql/create-cms-database.sql:/docker-entrypoint-initdb.d/10-create-cms-database.sql'
    ports:
      - "5432:5432" 
  redis:
    image: redis:alpine3.22
    ports:
      - "6379:6379"
  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  db_data: