---
// Assets
import Logo from "@/components/assets/Logo.astro";
import BigLogo from "@/components/assets/BigLogo.astro";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const navigation = [
  {
    title: "Store",
    links: [
      { href: "#", text: "All products" },
      { href: "#", text: "Membership", suffix: " (soon)" },
      { href: "#", text: "Affiliates", suffix: " (soon)" },
    ],
  },
  {
    title: "About",
    links: [
      { href: "#", text: "XGamePS" },
    ],
  },
  {
    title: "Resources",
    links: [
      { href: "/helpcenter", text: "FAQ" },
    ],
  },
];
---

<footer class="overflow-hidden relative">
  <Wrapper variant="standard" class="py-12">
    <div class="grid gap-6 md:grid-cols-5 items-start">
      <div class="gap-2 lg:col-span-2 flex items-center gap-2">
        <Logo class="text-base-900 size-4" />
        <Text tag="p" variant="textXS" class="text-base-500">
          © Copyright XGamePS <span id="year"></span>
        </Text>
      </div>
      {
        navigation.map((section) => (
          <nav role="navigation">
            <Text
              tag="h3"
              variant="displaySM"
              class="text-base-900 font-serif italic"
            >
              {section.title}
            </Text>
            <ul class="mt-4 text-xs space-y-3">
              {section.links.map((link) => (
                <li>
                  <a
                    class=" hover:text-base-500 text-base-500"
                    href={link.href}
                  >
                    {link.text}
                    {link.suffix && <span class="text-xs text-base-400">{link.suffix}</span>}
                  </a>
                </li>
              ))}
            </ul>
          </nav>
        ))
      }
    </div>
  </Wrapper>
</footer>
<script type="module">
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
